@import "./variables";
@import "./mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  div {
    @include flexContainer(center, column);
    margin: 10px;
    padding: 10px;
    border: solid 2px $color-1;

    h1 {
      margin: 10px;
      color: $color-3;
      text-decoration: underline $color-2 2px;
    }

    section {
      width: 100%;

      &:first-of-type {
        @include flexContainer(stretch, row);
      }

      &:last-of-type {
        @include flexContainer(center, column);
      }

      article {
        @include flexContainer(center, row);
        width: 100%;
        text-align: center;
        border: solid 2px $color-3;

        p {
          padding: 20px;
        }

        &:nth-child(odd) {
          color: $color-2;
        }

        &:nth-child(even) {
          color: $color-1;
        }
      }
    }
  }
}
