@import "./variables";
@import "./mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  div {
    @include flexContainer(center, column);
    margin: 10px;
    padding: 10px;
    border: solid 2px $color-1;

    h1 {
      margin: 10px;
      text-align: center;
      color: $color-3;
      text-decoration: underline $color-2 2px;
    }

    section {
      @include flexContainer(stretch, row);
      width: 100%;

      article {
        @include flexContainer(center, row);
        width: 100%;
        text-align: center;

        &:nth-child(odd) {
          @include articleStyling($color-2, $color-3);
        }

        &:nth-child(even) {
          @include articleStyling($color-1, $color-3);
        }

        p {
          padding: 20px;
        }
      }

      &:last-of-type {
        @include flexContainer(center, column);

        article {
          @include articleStyling($color-3, $color-2, 24px);
        }
      }
    }
  }
}
